.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  background-color: $clr1;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1;
  border-top: 1px solid $clr8;
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 395px 1fr 385px;

  .music-bar {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
  }
  .footer-details {
    display: flex;
    justify-content: space-between;
    padding: 0 16px; // need to be rm
    h3 {
      margin-top: 22px; // need to be rm
    }

    img {
      width: 56px;
      height: 56px;
    }
    grid-column: 1;
  }

  // .footer-media-adjusments {
  //   margin-top: 22px; // need to be rm
  //   grid-column: 3;
  //   display: flex;
  //   width: 100%;

  //   .speaker {
  //     display: block;
  //     fill: #ffffff;
  //     width: 15px;
  //     margin-inline-start: 270px;
  //     svg {
  //       fill: $clr1;
  //       stroke: $clr11;
  //       stroke-width: 15;
  //     }
  //   }
    
  //   .speaker-bar {
  //     margin-bottom: 9px;
  //     width: 20%;
  //     height: 4px;
  //     background-color: $clr10;
  //   }
    
  //   .speaker-bar-fill {
  //     height: 4px;
  //     border-radius: 20px;
  //     width: 5%;
  //     margin-top: 12px;
  //     margin-inline-start: 8px;
  //     background-color: $clr11;
  //   }

  // }

  .footer-media-adjusments {
    margin-top: 22px;
    grid-column: 3;
    display: flex;
    width: 100%;
  
    .speaker {
      display: block;
      width: 15px;
      margin-inline-start: 270px;
      svg {
        fill: $clr1;
        stroke: $clr11;
        stroke-width: 15;
      }
    }
  
    .speaker-bar {
      width: 30%;
      height: 4px;
      margin-inline-start: 8px;
      margin-top: 12.5px;
      background-color: $clr10;
      position: relative;
      border-radius: 20px;
    }
  
    .speaker-bar-fill {
      height: 4px;
      border-radius: 20px;
      width: 5%;      
      position: absolute;
      left: 0;
      top: 0;
      background-color: $clr6;
    }
  }

  .footer-media-player {
    grid-column: 2;
  }

  @media screen and (max-width: $narrow-breakpoint) {
    bottom: 60px;
  }
}
