.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  background-color: $clr1;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1;
  border-top: 1px solid $clr8;
  display: grid;
  grid-template-columns: 395px minmax(400px, 1fr) 300px;

  .music-bar {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 540px;
  }

  .img-and-title-player {
    display: flex;
    align-items: center;
  }
  .footer-details {
    grid-row: 2;
    display: flex;
    align-items: center;
    padding: 0 1px;
    font-size: 12px;
    h3 {
      margin-top: 22px; // need to be rm
      margin-inline-start: 10px;
    }

    .footer-curr-song {
      display: flex;
      align-items: center;
      padding: 0 1px;
      font-size: 12px;
    }
    img {
      width: 56px;
      height: 56px;
    }
    .heart-svg {
      svg {
        height: 30px;
        width: 30px;
      }
      margin-left: em(65px);
      width: 40px;
      transform: translateY(7px);
    }

    grid-column: 1;
  }

  .footer-media-adjusments {
    margin-top: 22px;
    margin-inline-start: 9rem;
    display: flex;

    .speaker {
      display: block;
      width: 15px;
      svg {
        width: 20px;
        // margin-inline-end: 10px;
        margin-top: 9px;
        // fill: $clr1;
        stroke: $clr11;
      }
    }
  }

  .footer-data {
    display: flex;
  }

  .footer-media-player {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    padding-inline-end: 3rem;
    padding-inline-start: 10%;
    align-items: center;
  }

  .footer-details-title {
    font-family: Circular-book;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 65%;
  }
}

//RANIa
@media only screen and (max-width: $narrow-breakpoint) {
  .main-footer {
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    position: relative;

    .footer-details {
      grid-row: 1;
      grid-column: 1;
      text-align: center;
      gap: 10px;
      padding-inline: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 300px;
      h3 {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
    .footer-media-player {
      display: block;
      grid-row: 1;
    }
    .footer-media-adjusments {
      opacity: 0;
      grid-column: 1;
      margin-top: 0;
      margin-left: -170%;
    }

    .music-bar {
      position: absolute;
      transform: translate(-60%);
      width: 550px;
      padding: 6px;
    }
    .footer-like {
      // margin-inline-start: 172px;
      transform: translateY(-3px);
      margin-inline-start: 312px;
      position: fixed;
    }
    .media-player .hiding {
      display: none;
    }
    .media-player-play {
      grid-row: 1;
      transform: translate(15px);
      background-color: transparent;
      justify-content: center;
      align-items: center;
      margin-block-start: 1rem;
      svg {
        fill: $clr6;
      }
    }
  }
}
