.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  background-color: $clr1;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1;
  border-top: 1px solid $clr8;
  display: grid;
  grid-template-columns: 395px minmax(400px, 1fr) 300px;

  .music-bar {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 540px;
  }
  .footer-details {
    display: flex;
    align-items: center;
    padding: 0 1px; 
    font-size: 12px;
    h3 {
      margin-top: 22px; // need to be rm
      margin-inline-start: 10px;
    }

    img {
      width: 56px;
      height: 56px;
    }
    .heart-svg {
      margin-left: 60px;
      width: 40px;
      margin-top: 5px;
    }    

    grid-column: 1;
  }

  .footer-media-adjusments {
    margin-top: 22px;
    display: flex;
  
    .speaker {
      display: block;
      width: 15px;
      svg {
        fill: $clr1;
        stroke: $clr11;
        stroke-width: 15;
      }
    }
  }

  .footer-data {
    display: flex;
  }

  .footer-media-player {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    gap:8rem;
    padding-inline-end: 3rem;
    padding-inline-start: 10%;
    align-items: center;
  }
  
  .footer-details-title {
    font-family: Circular-book;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 65%;
  }
  
  @media screen and (max-width: $narrow-breakpoint) {
    bottom: 60px;
    height: max-content;
    padding: 0;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    .control-buttons > *:not(.media-player-play) {
        display: none;
    }
    .music-bar > *{
      display: none;
    }
    .footer-media-adjusments {
      display: none;
    }
    .footer-details {
      grid-column: 1;
      img {
        width: 35px;
        height: 35px;
        border-radius: 4px;
      }
    }
    .like-song-icon {
      margin-left: 290px;
      margin-bottom: 10px;
    }
    .media-player-play {
      margin-top: 24px;
      border: none;
      background-color: inherit;
      svg {
        fill: white;
      }
    }
    // :not(.progress-bar,.progress-bar-fill) // find a way to implement this.
  //   .progress-bar {
  //     // margin-top: 9px;
  //     position: absolute;
  //     bottom: 0 ;
  //     width: 100%;
  //     height: 4px;
  //     background-color: $clr10;
  //     border-radius: 20px;
  //     grid-column: 1/-1;
  //     .progress-bar-fill {
  //       width: 0%;
  //       height: 100%;
  //       background-color: $clr6;
  //       border-radius: 20px;
  //       grid-column: 1/-1;
  //     }
  // }

  }

  @media screen and (min-width: $normal-breakpoint) {
    .media-player-play {
      margin-top: 6px;
      border: none;
      background-color: white;
      svg {
        fill: rgb(0, 0, 0);
      }
    }
  }

}

//Speaker: 


