.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: calc(100vw - 281.8px);
  top: 0;
  height: 64px;
  z-index: 100;
  padding: 0 16px;
  font-family: gotham;
  font-weight: 600;
  font-size: 1rem;

  .page-navigation,
  .login-signup {
    display: flex;
    gap: 16px;
    position: fixed;
    right: 1rem;
  }

  .page-navigation {
    position: fixed;
    left: 300px;

    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-size: inherit;
      color: $clr3;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: rgba($clr2, 0.4);
      padding: 17px;

      &:hover {
        background-color: rgba($clr6, 0.4);
        cursor: pointer;
  
        &::after {
          border-color: $clr6;
        }
      }

      &::after {
        content: '';
        position: absolute;
        border: solid $clr3;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4.2px;
        top: 35%;
        left: 35%;
      }
    }

    .left-arrow-icon::after {
      transform: rotate(135deg);
    }

    .right-arrow-icon::after {
      transform: rotate(-45deg);
    }
  }

  @media screen and (max-width: $narrow-breakpoint) {
    .page-navigation {
      left: 1rem;
    }
  }

  .login-signup {
    a {
      align-items: center;
      text-decoration: none;
      font-size: 14px;
      color: $clr3;
      padding: 6px 16px;
      margin-inline-start: 8px;
      border: 1px solid transparent;

      &:hover {
        color: $clr6;
      }

      &.active {
        color: $clr6;
        font-weight: bold;
      }
    }

    .btn-signup {
      display: flex;
      font-size: 1rem;
      background-color: transparent;

      &:hover {
        transform: scale(1.05);
      }
    }

    .btn-login {
      position: relative;
      color: $clr2;
      min-block-size: 48px;
      background-color: $clr6;
      font-size: 1rem;
      display: flex;
      border-radius: 500px;
      padding-block: 8px;
      padding-inline: 32px;
      margin-inline-end: 2.1rem;
      vertical-align: baseline;
      
      &:hover {
        background-color: $clr3;
        color: $clr2;
        transform: scale(1.05);
      }
    }
  }
}

.header-input {
  margin-block: 0px;
  font-size: 0.8125rem;
  border: 0;
  border: none;
  border-radius: 500px;
  color: #000;
  height: 40px;
  padding: 6px 48px;
  text-overflow: ellipsis;
  width: 100%;
  font-family: Circular-book;
  font-weight: 100;
  display: flex;  
  align-items: center;
  
  &:focus {
    outline: none;
    border: none;
  }
}

.header-form {
  width: 360px;
}

.header-search-container {
  border: 0;
  margin-bottom: 2px;
  padding: 0;
  vertical-align: baseline;
  align-items: center;
  display: flex;
  gap: 16px;
}
.svg-header-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 0;
}

.svg-header-span {
  -webkit-box-flex: 1;
  color: #121212;
  flex: 1;
  width: 24px;
  height: 24px;
  margin-left: 110px;
}

.header-search-icon {
  fill: currentcolor;
  display: block;
}
