header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 230px;
    width: calc(100% - 230px); //fix later
    height: 60px;
    background-color: $clr1;
    padding: 0 16px;
  
    a {
      display: block;
      text-decoration: none;
      font-size: 14px;
      color: $clr3;
      padding: 8px 0;
  
      &:hover {
        color: $clr6;
      }
  
      &.active {
        color: $clr6;
        font-weight: bold;
      }
    }
  }
  



// header {
//     background-color: $clr2;
//     color: $clr3;
//     padding: 10px;
//     display: flex;
//     justify-content: space-between;

//     .loggedin-user {
//         padding: 2px 8px;
//         border-radius: 1em;
//         align-self: flex-end;
//         span{
//             background-color: $clr2;
//             padding: 4px;
//             margin: 10px;
//             border-radius: 50%;
//         }
//         img {
//             width: 2em;
//             height: 2em;
//             border-radius: 50%;
//         }
//     }
//     nav {
//         background-color: $clr2;
//         padding: 5px 0;
//     }
//     nav a:not(:first-child) {
//         border-top: 1px solid $clr1;
//         padding: 0 5px;
//         margin: 10px;
//     }
//     nav .active {
//         color: $clr1;
//     }
    
// }
