nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $clr2;
  font-family: gotham;
  font-size: 0.875rem;
  font-weight: 400;
  min-height: 100vh;
  height: 100%;

  a {
    width: 100px;
  }

  .sticky-nav {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    padding: 25px 1.4rem;

    .user-stations {
      font-family: Circular-light;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.5px; 
      color: $clr11;
      display: flex;
      flex-direction: column;
      padding: 10px 0 0 0px;
      gap: 0.5rem;
    }
  }
  .logo-container {
    display: flex;
    align-items: center;
    margin-block-end: 25px;
    cursor: pointer;

    .logo {
      width: 42px;
      height: 42px;
      margin-inline-end: 8px;
      font-family: Circular-book;
    }

    span {
      font-size: 22px;
      font-weight: bold;
      color: $clr6;
      line-height: 42px;
      position: relative;
      .trademark {
        font-size: 0.5rem;
        position: absolute;
        margin-inline-start: 1px;
      }
    }
  }
  .main-nav,
  .liked-create-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    a{
      padding-inline: 0;
    }
    .icons{
      margin-inline-end: 1rem;
    }
  }

  .main-nav {
    margin-block-end: 16px;

    a{
      gap: 6px;
      font-family: Circular-medium;
      font-size:0.9rem;
      svg{
        margin-block-start:-2px;
      }
    }

    .home-nav {
      display: flex;
      align-items: end;
    }

    .home-icon {
      width: 24px;
      height: 24px;
      margin-inline-end: 10px;
      fill: $clr11;
    }
    .search-icon {
      width: 24px;
      height: 24px;
      margin-inline-end: 10px;
      fill: $clr6;
    }
    .library-icon {
      fill: $clr11;
      margin-inline-end: 10px;
      width: 24px;
      height: 24px;
    }
  }
  .liked-create-nav {
    margin-block-start: 20px;
    margin-block-end: 16px;
    align-items: center;
    text-align: center;
    gap: 1.4px;
    .create-container {
      display: flex;
      align-items: center;
      text-align: center;
      line-height: 10px;
      &:hover .plus-sign {
        background-color: $clr6;
      }
      .plus-sign {
        padding: 5.5px;
      }
    }
    
  }

  .liked-songs {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba($clr6, 0.2);
    }
    &:hover .heart-icon {
      background: linear-gradient(to bottom right, #1904d2, #c1c0c0);
      color: $clr6;
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13.5px;
    color: $clr3;
    padding: 8px 0 8px 5px;
    width: 100%;
    svg {
      line-height: 5px;
    }
    &:hover {
      color: $clr6;
      text-decoration: none;
      svg {
        fill: $clr6; 
      }
    }
  
    &.active {
      color: $clr6;
      font-weight: bold;
      svg {
        fill: $clr6; 
      }
    }
  }
}  

.plus-sign {
  color: $clr8;
  background-color: #b3b3b3;
  border-radius: 2px;
  margin-inline-end: 10px;
}

.heart-icon {
  background: linear-gradient(to bottom right, #0e017d, #b4b0b0);
  padding: 5px;
  color: #b3b3b3;
  border-radius: 2px;
  margin-inline-end: 10px;
  background: linear-gradient(to bottom right, #1303a4, #c1c0c0);
}

// @media (max-width: $mobile-breakpoint) {

//   .nav-content > * :not(.nav-media-stayers) {
//     display: none;
//   }

// }

.station-nav-hover:hover {
  color: $clr6;
}

