nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $clr2;
  font-family: gotham;
  font-size: 0.875rem;
  font-weight: 700;
  min-height: 100vh;
  height: 100%;

  .sticky-nav {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    padding: 25px 16px;

    &::after {
      content: '';
      display: block;
      width: calc(100% - 32px);
      height: 1px;
      background-color: rgba($clr6, 0.2);
      margin: 16px auto 0;
    }
  }
  .logo-container {
    display: flex;
    align-items: center;
    margin-block-end: 25px;

    .logo {
      width: 42px;
      height: 42px;
      margin-inline-end: 8px;
      font-family: Circular-book;
    }

    span {
      font-size: 22px;
      font-weight: bold;
      color: $clr6;
      line-height: 42px;
      position: relative;
      .trademark {
        font-size: 0.5rem;
        position: absolute;
        margin-inline-start: 1px;
      }
    }
  }

  .main-nav,
  .liked-create-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* add this line to align items to the start of the flex container */

    width: 100%;
  }

  .main-nav {
    margin-block-end: 16px;
    width: 300px;

    .home-nav {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .home-icon {
      width: 25px;
      height: 25px;
      margin-inline-end: 10px;
      fill: $clr6;
    }
    .search-icon {
      width: 25px;
      height: 25px;
      margin-inline-end: 10px;
      fill: $clr6;
    }
    .library-icon {
      fill: $clr6;
      margin-inline-end: 10px;
      width: 25px;
      height: 25px;
    }
  }
  .liked-create-nav {
    margin-block-end: 16px;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: $clr3;
    padding: 8px 0 8px 5px;
    width: 100%;

    &:hover {
      color: $clr6;
    }

    &.active {
      color: $clr6;
      font-weight: bold;
    }
  }
}

