.mini-search-container {
  margin-inline-start: 2rem;
  margin-block-end: 2rem;
  &::before {
    content: '';
    display: block;
    width: 95%;
    margin-inline-start: 1rem;
    border-bottom: 1px solid rgba($clr11, 0.2);
    margin-block-end: 1rem;
  }
  .deafult-sentance-search {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Circular-book';
  }

  input {
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 0;
    border-radius: 4px;
    color: hsla(0, 0%, 100%, 0.7);
    height: 40px;
    padding: 8px 32px 8px 50px;
    width: 93%;
    background-size: 24px; /* set the size of the SVG image */
  }

  .header-search-container {
    // display: flex;
    position: relative;

    .header-input {
      width: 389px;
    }
    .header-input::placeholder {
      color: rgba($clr6, 0.4);
      font-size: 1rem;
      font-weight: 700;
    }
  }
  span {
    margin-bottom: 50px;
  }
  .header-search-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 9px;
  }
}

.add-btn-song {
  color: white;
  font-size: 0.8125rem;
  font-weight: 700;
  background-color: transparent;
  border-radius: 500px;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition-duration: 33ms;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding-block: 3px;
  padding-inline: 15px;
  border: 1px solid #878787;
  font-size: 0.875rem;
  min-block-size: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: white;
    transform: scale(1.03);
  }
}

.add-songs-container:hover {
  background-color: rgba($clr10, 0.4);
}

.mini-search-preview {
  display: flex;
}

// .search-results {
//   display: flex;
//   flex-direction: column;

//   .song-item {
//     display: flex;
//   }
// }

$search-result-bg: #121212;
$search-result-hover-bg: #282828;
$text-color: #ffffff;
$secondary-text-color: #b3b3b3;
$highlight-color: #1db954;

.search-results {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  padding-block-end: 110px;

  .song-item {
    height: 50px;
    margin-block: 0.3rem;
    padding: 1rem;
    padding-block: 1rem;
  }
}

.add-songs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: $search-result-hover-bg;
    border-radius: 10px;
  }
}

.mini-search-preview {
  display: flex;
  align-items: center;

  span {
    color: $secondary-text-color;
    font-size: 1rem;
    margin-inline-end: 1rem;
  }

  .song-img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 2px;
    clip-path: polygon(13px 13px, 13px 52px, 52px 52px, 52px 13px);
  }

  .search-song-title {
    color: $text-color;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 65%;
  }
}

.add-btn-song {
  border: 1px solid $clr12;
  color: $clr6;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  padding: 8px 16px;
  cursor: pointer;
  transition: border 0.3s ease;

  &:hover {
    border: 1px solid $clr6;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }
}
