.mobile-nav {
    display: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: $clr2;
    padding: 12px 0;

    .router-link {
      height: 40px;
      width: 40px;
    }
    svg {
        fill:$clr11
    }
    .icons {
    &:active {
       svg {
          fill: $clr6; 
        }
  }
}
}