.categories-container {
  display: grid;

  padding-inline: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  border-radius: 10px;
  .category-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 190px;
  }
  img {
    transform: rotate(25deg) translate(18%, -2%);
    position: absolute;

    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
  }
  h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1em;
    font-family: Circular-book;
  }
}

.search-header {
  padding-inline: 1rem 0;
}
