.category-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 300px));
  gap: 24px;
  padding: 0 32px;
  border-radius: 10px;
  img {
    max-width: 185px;
  }
}

.category-h2 {
  margin-inline-start: 32px;
  font-family: Circular-book;
}


@media (max-width: $mobile-breakpoint) {
    .category-container {
      display: grid;
      grid-template-columns: repeat(2,minmax(80px,200px));
    }
}
@media (min-width: 451px ) {
    .category-container {
      display: grid;
      grid-template-columns: repeat(3,minmax(80px,200px));
    }
}

@media (min-width: $narrow-breakpoint) {
    .category-container {
      display: grid;
      grid-template-columns: repeat(3,minmax(80px,200px));
    }
    .media-player-play {
      // border: none;
      background-color: inherit;
      svg {
        fill: white;
      }
    }
}

@media (min-width: $normal-breakpoint) {
    .category-container {
      display: grid;
      grid-template-columns: repeat(6,minmax(100px,1fr));
    }
}
