.station-preview {
  position: relative;
  border-radius: 7px;;
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 1rem 1rem 0;
  background-color: rgba($clr4, 0.4);
  overflow: hidden;
  box-shadow: 0 4px 6px rgba($clr5, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-family: Circular-book;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba($clr5, 0.4);
    border-radius: 10px;

    .play-button {
      opacity: 1;
      transform: translateY(-10px);
      transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;

      &:hover {
        transform: translateY(-10px) scale(1.1);
        background-color: $clrGreenLight;
        transition: transform 0s;
      }
    }
  }

  .station-image {
    width: 190px;
    height: 190px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .station-info {
    display: flex;
    min-height: 62px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-block-start: 1.2rem;

    .station-title,
    .station-description-preview {
      font-family: Circular-book;
    }

    .station-title {
      font-size: 14px;
      font-weight: 700;
      color: $clr6;
      margin-block-end: 8px;
    }

    .station-description-preview {
      color: $clr11;
      font-size: 0.875rem;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      &::after {
        content: '...';
      }
    }
  }
}

.play-button  {
  position: absolute;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  bottom: 100px;
  right: 25px;
  width: 48px;
  height: 48px;
  background-color: $clrGreen;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
  cursor: pointer;
  z-index: 2;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 16px;
    border-color: transparent $clr2;
    display: inline-block;
    position: relative;
    left: 3px;
  }
}



@media screen and (max-width: $narrow-breakpoint) {
  .station-preview {
    width: 180px;
    padding: 0.8rem 0.8rem 0;

    .station-image {
      width: 150px;
      height: 150px;
    }

    .station-info {
      .station-title {
        font-size: 12px;
      }

      .station-description-preview {
        font-size: 0.75rem;
      }
    }
  }

  .play-button {
    bottom: 80px;
    right: 20px;
    width: 40px;
    height: 40px;

    &:before {
      border-width: 7px 0 7px 12px;
    }
  }
}
