.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.edit-details-section {
  background-image: linear-gradient(to bottom, $clr8, $clr4);
  padding: 50px 25px;
  border-radius: 10px;
  width: 530px;
  height: 385px;
  font-family: 'Circular-book';
  margin-top: 18px;

  .edit-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-block-end: 0.5rem;
      padding-block-start: 0.5rem;
      position: absolute;
      font-size: 24px;
      font-weight: 600;
      color: $clr6;
      font-family: 'Circular-book';
    }

    .btn-close-modal {
      background: none;
      border: none;
      font-size: 20px;
      color: $clr6;
      cursor: pointer;
      float: right;
      position: absolute;
      right: 33%;
      top: 27.6%;
    }
  }

  .edit-details-img {
    display: flex;

    .cover-img {
      position: relative;
      margin-top: 40px;
      width: 50%;
      height: 200px;
      margin-right: 20px;

      .img-edit {
        margin-left: 15px;
        padding: 5px;
        width: 105%;
        height: 90%;
        object-fit: cover;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
      }
    }

    .edit-details-inputs {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: 44px;

      .edit-name {
        padding: 8px 12px;
        margin-bottom: 15px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        color: #ffffff;
        background-color: $clr12;
        width: 280px;
        resize: none;
        font-family: Circular-medium;
      }
      .edit-text-area {
        border: none;
        background-color: $clr12;
        height: 129px;
        border-radius: 6px;
        padding: 10px;
        font-size: 14.5px;
        font-family: Circular-medium;
      }

      .btn-save-changes {
        background-color: $clr6;
        color: $clr2;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 25px;
        cursor: pointer;
        align-self: flex-end;
        width: 95px;
        height: 45px;
        margin-block-start: 17px;
      }
    }
  }
}
