.station-details {
  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: $clr1;
    padding-block-end: 1.5rem;
  }
  .likes-count-logo {
    display: flex;
    align-items: center;
    justify-self: baseline;
    margin-block-start: 16px;
    gap: 5px;
    .dot {
      font-size: 0.5rem;
      margin-inline: 0;
      transform: translate(-2px,1px);
    }
  }
  .songs-count{
    margin-block-start: 1px;
  }
  .logo-container-header {
    display: flex;
    gap: 5px;
    margin-inline-end: 5px;
  }
  .logo-green {
    height: 24px;
    width: 24px;
    margin-inline-end: 5px;
  }

  img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 1px;
    margin-inline-end: 24px;
    cursor: pointer;
  }
.no-songs-hide{
  display: flex;
}
  .station-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Circular-book';
    margin-block-start: 2rem;

    .playlist-word {
      font-size: 0.9rem;
      font-weight: 600;
      color: $clr6;
      cursor: pointer;
      margin-block-end: 1rem;
      font-family: 'Circular-book';
    }

    .station-name {
      font-size: 6rem;
      width: 100%;
      font-weight: 900;
      color: $clr6;
      margin-block-end: 8px;
      font-family: 'Circular-book';
      cursor: pointer;
    }

    .station-description {
      font-size: 0.9rem;
      color: $clr3;
      width: 100%;
      margin-block-start: 8px;
      margin-block-end: 0;
      cursor: pointer;
      transform: translateY(3px);
    }
    .posted-at {
      color: $clr11;
      transform: translate(-7px,1.8px);
      
    }
    .small-logo-word {
      font-family: 'Circular-book';
      transform: translateY(2px);
      margin-inline-start: -5px;
    }

    span {
      font-size: 14px;
      color: $clr6;
      text-align: center;
      margin-inline-end: 8px;
      transform: translateY(1px);

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }
}

.btn-play-green {
  background-color: $clrGreen;
  width: 55px;
  height: 55px;
  left: 2rem;
  top: 1rem;
  margin-block-end: 2rem;
  margin-inline-end: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 18px;
    border-color: transparent $clr2;
    display: inline-block;
    position: relative;
    left: 3px;
  }
  &:hover {
    background-color: $clrGreenLight;
    box-shadow: 0px 4px 12px rgba($clr2, 0.2);
    transform: scale(1.06);
  }
}

.station-controls {
  display: flex;
  padding-block-end: 0.6rem;
  padding-block-start: 0.5rem;
  padding-inline-start: 0.1rem;
  align-items: center;
  gap: 2rem;
  color: $clr11;
  margin-block-end: 0.2rem;

  .btn-icons {
    display: flex;
    padding: 10px;
  }
  .options-icon {
    fill: $clr11;
    width: 20px;
    height: 30px;
    cursor: pointer;
    margin-inline-start: 1.2rem;
    svg {
      width: 30px;
      height: 30px;
    }
    &:hover {
      fill: $clr6;
    }
  }
}

@media (max-width: $narrow-breakpoint) {
  .station-controls {
    .options-icon {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.table-header {
  font-family: Circular-medium;
  // display: flex;
  // justify-content: space-between;
  // gap: 4rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column: 1 / -1;
  grid-gap: 15%;
  align-items: center;
  padding-bottom: 1.6rem;
  margin-inline: 3.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: $clr11;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($clr6, 0.1);
    margin-block-end: 1rem;
  }
  .title-container,
  span,
  div {
    display: flex;
    align-items: center;
  }

  .title-container {
    grid-column: 1;
    gap: 1rem;
    margin-inline-end: 200px;
  }

  span:nth-child(2) {
    grid-column: 2;
    transform: translate(-45px);
  }

  div:nth-child(3) {
    grid-column: 3;
    text-align: center;
    transform: translate(-45px);
  }

  .duration-icon {
    fill: $clr11;
    grid-column: 4;
    margin-inline-end: 1.3rem;
    transform: translate(-20px);
  }
}

@media (max-width: 1200px) {
  .table-header {
    display: none;
  }
  .song-album {
    opacity: 0;
  }
}

//SONG OPTIONS MODAL
.modal-container {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: fixed;
  background-color: $clr8;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  // top: 45%;
  // left: 85%;
  box-shadow: 0 4px 6px rgba($clr2, 0.1), 0 1px 3px rgba($clr2, 0.08);
  z-index: 10;
  font-family: Circular-book;

  .modal-options {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px 15px;
      font-size: 14px;
      color: $clr3;
      cursor: pointer;
      &:hover {
        background-color: $clr12;
        color: $clr6;
      }
    }
    .stations-sub-menu {
      background-color: $clr8;
      border-radius: 8px;
      list-style: none;
      border-radius: 4px;
      position: absolute;
      // height: 100px;
      max-height: 200px;
      overflow: scroll;
      z-index: 30;
      top: 0;
      right: 100%;
      width: 200px;
      padding: 10px;
      box-shadow: 0 4px 6px rgba($clr2, 0.1), 0 1px 3px rgba($clr2, 0.08);
      font-family: Circular-book;

      li {
        padding: 10px 15px;
        font-size: 14px;
        color: $clr3;
        cursor: pointer;

        &:hover {
          background-color: $clr12;
          color: $clr6;
        }
      }
    }
  }
}

//MOBILE song list
@media (max-width: $narrow-breakpoint) {
  .songs-list-details {
    .song-item {
      padding: 2px;

      .img-and-title {
        width: 245px;
        transform: translate(-30px, 2px);
        display: flex;
        align-items: center;
      }

      .song-img {
        width: 25px;
        height: 25px;
        margin-inline-end: 10px;
        transform: translateY(6px);
      }

      .song-title {
        margin-inline-end: 1rem;
        font-size: 0.7rem;
        max-width: 60%;
      }

      .posted-at,
      .song-album {
        display: none;
      }

      .song-duration {
        display: none;
      }
      .list-end {
        transform: translate(-18%);
      }
      .btn-open-modal {
        margin-left: auto;
        margin-right: 0;
        transform: translateX(10%);
      }
    }
    .hover-effect {
      opacity: 1;
    }
    .station-details-heart input[type='checkbox']:checked + .label .heart-svg {
      opacity: 1;
    }
    .song-item .heart-svg {
      opacity: 1;
    }
    .options-song-icon {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

//SONG LIST
.songs-list-details {
  display: grid;
  grid-template-columns: 1px 1fr 1fr 1px;
  grid-auto-rows: min-content;
  grid-gap: 10px;
  align-items: center;

  svg {
    height: 40px;
    width: 40px;
  }

  .song-item {
    margin-inline-start: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column: 1 / -1;
    align-items: center;
    padding: 10px;
    padding-inline-start: 20px;
    max-width: 1250px;

    &:hover {
      background-color: rgba($clr10, 0.2);

      span {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(180deg);
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 10px solid $clr3;
        }

        color: transparent;
      }
    }

    .img-and-title {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-inline-start: 10px;
    }

    .song-album {
      grid-column: 2;
      font-size: 0.8rem;
      // transform: translateX(-50%);
      margin: 0;
      text-align: start;
      font-family: Circular-book;
      color: $clr11;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100px;
    }
    .list-end {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: 30px;
      transform: translateY(15%);
    }

    .song-info {
      display: flex;
      align-items: center;
    }

    span {
      text-align: center;
      font-size: 14px;
      color: rgba($clr3, 0.6);
      position: relative;
    }

    .song-img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 2px;
      margin-inline-start: 10px;
    }

    .song-title {
      font-size: 0.95rem;
      font-weight: 400;
      margin: 0;
      color: $clr6;
      font-family: Circular-book;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 200px;
      transform: translate(-10px);

      &:hover {
        text-decoration: underline;

        &:active {
          color: $clrGreen;
        }
      }
    }

    .posted-at {
      grid-column: 3;
      font-size: 0.8rem;
      color: rgba($clr3, 0.6);
      text-align: center;
      width: max-content;
      white-space: nowrap;
      margin-inline-start: 20%;
      transform: translateY(25%);
    }

    .song-duration {
      font-size: 0.8rem;
      color: rgba($clr3, 0.6);
      width: 35px;
      font-family: Circular-medium;
      transform: translateX(100%);
      cursor: default;
    }

    .like-song-icon {
      margin-block-start: -8px;
      margin-inline-start: 10px;
      transform: translate(20%, -10%);
    }

    .btn-open-modal {
      background-color: transparent;
      margin-top: -5px;
      border: none;

      .options-song-icon {
        fill: $clr11;
        cursor: pointer;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
.station-details-heart input[type='checkbox']:checked + .label .heart-svg {
  opacity: 1;
}
.hover-effect .heart-svg , .options-song-icon {
  opacity: 0;
}

.song-item:hover .hover-effect .heart-svg {
  opacity: 1;
}
.song-item:hover .options-song-icon {
  opacity: 1;
}



//HEADER
@media (max-width: $narrow-breakpoint) {
  .station-details {
    .header-content {
      padding: 16px;
    }

    img {
      width: 180px;
      height: 180px;
      margin-inline-end: 16px;
    }

    .station-info {
      margin-block-start: 1rem;

      .playlist-word {
        font-size: 0.8rem;
        margin-block-end: 0.5rem;
      }

      .station-name {
        font-size: 3.6rem;
        margin-block-end: 4px;
      }

      .station-description {
        font-size: 0.8rem;
        margin-block-start: 4px;
      }

      .likes-count-logo {
        opacity: 0;
      }
    }
  }
}
//HEADER MOBILE
@media (max-width: $mobile-breakpoint) {
  .station-details {
    .header-content {
      flex-direction: column;
      padding: 20px;
      justify-content: center;
      text-align: center;
    }

    img {
      width: 180px;
      height: 180px;
      margin-inline-end: 0;
      margin-bottom: 1rem;
    }

    .station-info {
      margin-block-start: 0;
      align-items: center;
      text-align: center;

      .playlist-word {
        font-size: 0.8rem;
        margin-block-end: 0.5rem;
      }

      .station-name {
        font-size: 3.5rem;
        margin-block-end: 4px;
      }

      .station-description {
        font-size: 0.8rem;
        margin-block-start: 4px;
      }

      .likes-count-logo {
        display: none;
      }
    }

    .logo-container-header {
      display: none;
    }
  }
}






.btn-play-green,
.station-details-heart {
  cursor: pointer;
}
.shuffle[title]:hover::after {
  content: attr(title);
  position: absolute;
  background-color: $clr4;
  height: 25px;
  line-height: 30px;
  padding: 4px;
  border-radius: 10px;
  top: -25%;
  left: 41%;
}
.prev[title]:hover::after {
  content: attr(title);
  position: absolute;
  background-color: $clr4;
  height: 25px;
  line-height: 30px;
  padding: 4px;
  border-radius: 10px;
  top: -25%;
  left: 44.4%;
}
.media-player-play[title]:hover::after {
  content: attr(title);
  position: absolute;
  background-color: $clr4;
  height: 25px;
  color: white;
  line-height: 30px;
  padding: 4px;
  width: 43px;
  border-radius: 10px;
  top: -120%;
  left: -20%;
}

.media-player-repeat-song[title]:hover::after {
  content: attr(title);
  position: absolute;
  background-color: $clr4;
  height: 25px;
  color: white;
  line-height: 30px;
  padding: 4px;
  // width: 43px;
  border-radius: 10px;
  top: -28%;
  left: 52.9%;
}
.next[title]:hover::after {
  content: attr(title);
  position: absolute;
  background-color: $clr4;
  height: 20px;
  color: white;
  line-height: 20px;
  padding: 6px;
  // width: 43px;
  border-radius: 10px;
  top: -28%;
  left: 51.9%;
}


//SVG DEFAULT IMG
.station-details {
  .icon-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .music-note {
      position: absolute;
      z-index: 1;
      stroke: #7F7F7F;
      transform: translate(-10px,-5px);
      fill: $clr6;
      stroke: none;
    }

    .default-image {
      position: relative;
      z-index: 0;
    }

    span {
      position: absolute;
      left: 40%;
      bottom: 25%;
      transform: translateX(-40%);
    }
  }
}

.liked-songs-section{
  background-color: red;
}