.station-details {
  // width: calc(100vw - 300px);
  
  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: $clr1;
    padding-block-end: 1.5rem;
  }
  .likes-count-logo {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .logo-green {
    height: 24px;
    width: 24px;
    margin-inline-end: 5px;
  }

  img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 1px;
    margin-inline-end: 24px;
    cursor: pointer;
  }

  .station-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto-Regular';
    margin-block-start: 2rem;

    .playlist-word {
      font-size: 0.9rem;
      font-weight: 600;
      color: $clr6;
      cursor: pointer;
      margin-block-end: 1rem;
      font-family: 'Circular-book';
    }

    .station-name {
      font-size: 6rem;
      width: 100%;
      font-weight: 900;
      color: $clr6;
      margin-block-end: 8px;
      font-family: 'Circular-book';
      cursor: pointer;
    }

    .station-description {
      font-size: 0.9rem;
      color: $clr3;
      width: 100%;
      margin-block-start: 8px;
      margin-block-end: 0;
      cursor: pointer;
    }

    .small-logo-word {
      font-family: 'Circular-book';
      line-height: 24px;
      margin-inline-start: -5px;
    }

    span {
      font-size: 14px;
      color: $clr6;
      margin-inline-end: 8px;

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }
}

.songs-list-details {
  display: flex;
  flex-direction: column;
  margin-block-end: 70px;
  min-height: 20vh;

  svg {
    height: 30px;
    width: 30px;
  }

  .song-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-family: Circular-medium;
    &:hover {
      background-color: rgba($clr10, 0.2);

      span {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(180deg);
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 10px solid $clr3;
        }

        color: transparent;
      }
    }

    .img-and-title {
      width: 370px;
      display: flex;
    }

    .list-end {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: 30px;
    }

    .song-info {
      display: flex;
      align-items: center;
    }

    span {
      width: 25%;
      text-align: center;
      font-size: 14px;
      color: rgba($clr3, 0.6);
      position: relative;
    }

    .song-img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 2px;
      transform: translate(-50%);
    }
    @media (max-width: $narrow-breakpoint) {
      .song-img {
        transform: translate(7%);
        margin-inline-end: 1.5rem;
      }
    }

    .song-title {
      font-size: 0.95rem;
      font-weight: 400;
      color: $clr6;
      transform: translate(-17%,15%);
      font-family: Circular-book;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 65%;

      &:hover {
        text-decoration: underline;

        &:active {
          color: $clrGreen;
        }
      }
    }

    .posted-at {
      font-size: 0.8rem;
      color: rgba($clr3, 0.6);
      margin-inline-start: 25%;
      width: max-content;
      white-space: nowrap;
      transform: translateY(1%);
      
    }

    @media screen and (min-width: 1600px) {
      .posted-at {
        margin-inline-start: 27%;
      }
    }
    @media screen and (min-width: 1800px) {
      .posted-at {
        margin-inline-start: 29%;
      }
    }

    .song-duration {
      font-size: 0.8rem;
      color: rgba($clr3, 0.6);
      width: 35px;
      font-family: Circular-medium;
      transform: translateX(100%);
      cursor: default;
    }

    .like-song-icon {
      margin-block-start: -8px;
      margin-inline-start: 10px;
      transform: translate(20%, -10%);
    }

    .btn-open-modal {
      background-color: transparent;
      margin-top: -5px;
      border: none;

      .options-song-icon {
        fill: $clr11;
        cursor: pointer;
      }
    }
  }
}

.btn-play-green {
  background-color: $clrGreen;
  width: 55px;
  height: 55px;
  left: 2rem;
  top: 1rem;
  margin-block-end: 2rem;
  margin-inline-end: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 18px;
    border-color: transparent $clr2;
    display: inline-block;
    position: relative;
    left: 3px;
  }
  &:hover {
    background-color: $clrGreenLight;
    box-shadow: 0px 4px 12px rgba($clr2, 0.2);
    transform: scale(1.06);
  }
}

.station-controls {
  display: flex;
  padding-block-end: 0.6rem;
  padding-block-start: 0.5rem;
  padding-inline-start: 0.1rem;
  align-items: center;
  gap: 2rem;
  color: $clr11;
  margin-block-end: 0.2rem;

  .btn-icons {
    display: flex;
    padding: 10px;
  }
  .options-icon {
    fill: $clr11;
    width: 20px;
    height: 30px;
    cursor: pointer;
    margin-inline-start: 1.2rem;
    svg {
      width: 30px;
      height: 30px;
    }
    &:hover {
      fill: $clr6;
    }
  }
}

.table-header {
  font-family: Circular-medium;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding-bottom: 1.6rem;
  margin-inline: 3.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: $clr11;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($clr6, 0.1);
    margin-block-end: 1rem;
  }
  .title-container,
  span,
  div {
    display: flex;
    align-items: center;
  }

  .title-container {
    flex: 3;
    gap: 1rem;
  }

  span:nth-child(2) {
    flex: 2;
  }

  div:nth-child(3) {
    flex: 2;
  }

  .duration-icon {
    fill: $clr11;
    margin-inline-end: 1.3rem;
  }
}

//SONG OPTIONS MODAL
.modal-container {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: fixed;
  background-color: $clr8;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  top: 45%;
  left: 85%;
  box-shadow: 0 4px 6px rgba($clr2, 0.1), 0 1px 3px rgba($clr2, 0.08);
  z-index: 10;
  font-family: Circular-book;

  .modal-options {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px 15px;
      font-size: 14px;
      color: $clr3;
      cursor: pointer;
      &:hover {
        background-color: $clr12;
        color: $clr6;
      }
    }
    .stations-sub-menu {
      background-color: $clr8;
      border-radius: 8px;
      list-style: none;
      border-radius: 4px;
      position: absolute;
      // height: 100px;
      max-height: 200px;
      overflow: scroll;
      z-index: 30;
      top: 0;
      right: 100%;
      width: 200px;
      padding: 10px;
      box-shadow: 0 4px 6px rgba($clr2, 0.1), 0 1px 3px rgba($clr2, 0.08);
      font-family: Circular-book;

      li {
        padding: 10px 15px;
        font-size: 14px;
        color: $clr3;
        cursor: pointer;

        &:hover {
          background-color: $clr12;
          color: $clr6;
        }
      }
    }
  }
}

.hover-effect {
  opacity: 0;
}

.song-item:hover .hover-effect {
  opacity: 1;
}

//SONG LIST MEDIA
@media (max-width: $narrow-breakpoint) {
  .songs-list-details {
    margin-block-end: 40px;
    min-height: 10vh;

    .song-item {
      padding: 8px;

      .img-and-title {
        width: 270px;
      }

      .song-img {
        width: 30px;
        height: 30px;
      }

      .song-title {
        font-size: 0.9rem;
        max-width: 55%;
      }

      .posted-at {
        font-size: 0.7rem;
        margin-inline-start: 20%;
      }

      .song-duration {
        font-size: 0.7rem;
        width: 25px;
      }

      .like-song-icon {
        margin-inline-start: 5px;
        transform: translate(10%, -7%);
      }
    }
  }
}

//MOBILE song list
@media (max-width: 500px) {
  .songs-list-details {
    .song-item {
      padding: 2px;

      .img-and-title {
        width: 100%;
        max-width: 220px;
      }

      .song-img {
        width: 25px;
        height: 25px;
      }

      .song-title {
        font-size: 0.7rem;
        max-width: 50%;
      }

      .posted-at {
        opacity: 0;
      }

      .song-duration {
        font-size: 0.7rem;
        width: 35px;
      }
.list-end {
  transform:translate(-18%);
}
      .btn-open-modal {
        margin-left: auto;
        margin-right: 0;
        transform: translateX(10%);
      }
    }
    .hover-effect {
      opacity: 1;
    }
    .options-song-icon{
      opacity: 0;
    }
  }
}


//HEADER
@media (max-width: $narrow-breakpoint) {
  .station-details {
    .header-content {
      padding: 16px;
    }

    img {
      width: 180px;
      height: 180px;
      margin-inline-end: 16px;
    }

    .station-info {
      margin-block-start: 1rem;

      .playlist-word {
        font-size: 0.8rem;
        margin-block-end: 0.5rem;
      }

      .station-name {
        font-size: 3.6rem;
        margin-block-end: 4px;
      }

      .station-description {
        font-size: 0.8rem;
        margin-block-start: 4px;
      }

 .likes-count-logo{
  opacity: 0;
 }
    }
  }
}


@media (max-width: 500px) {
  .table-header {
    div:nth-child(3) {
      opacity:0;
    }
    .album{
      opacity:0;
    }
    
  }
}