.station-details {
  font-family: 'Roboto-Regular';

  // width: calc(100vw - 300px);
  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: $clr1;
    padding-block-end: 2rem;
  }
  &-header {
    // position: relaaptive;
    // display: flex;
    // align-items: center;
    // padding: 24px;
    // background-color: $clr1;
    // border-radius: 5px;
    // width: calc(100vw - 300px);

    .likes-count-logo {
      display: flex;
      align-items: center;
      gap: 3px;
    }

    .logo-green {
      height: 24px;
      width: 24px;
      margin-inline-end: 5px;
    }

    img {
      width: 240px;
      height: 240px;
      object-fit: cover;
      border-radius: 1px;
      margin-inline-end: 24px;
      cursor: pointer;
    }

    .station-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: 'Roboto-Regular';

      .playlist-word {
        font-size: 0.9rem;
        font-weight: 600;
        color: $clr6;
        cursor: pointer;
        margin-block-end: 1rem;
        font-family: 'Circular-book';
      }

      .station-name {
        font-size: 4.5rem;
        width: 100%;
        font-weight: 900;
        color: $clr6;
        margin-block-end: 8px;
        font-family: 'Circular-book';
        cursor: pointer;
      }

      .station-description {
        font-size: 0.9rem;
        color: $clr3;
        width: 100%;
        margin-block-start: 8px;
        margin-block-end: 0;
        cursor: pointer;
      }

      .small-logo-word {
        font-family: 'Circular-book';
        line-height: 24px;
        margin-inline-start: -5px;
      }

      span {
        font-size: 14px;
        color: $clr6;
        margin-inline-end: 8px;

        &:last-child {
          margin-inline-end: 0;
        }
      }
    }
  }
}

.songs-list-details {
  display: flex;
  flex-direction: column;
  margin-block-end: 70px;
  min-height: 20vh;
  // &::after {
  //   content: "";
  //   display: block;
  //   width: 95%;
  //   margin-inline-start: 1rem;
  //   border-bottom: 1px solid rgba($clr11, 0.2);
  //   margin-top: 12px;
  // }

  svg {
    height: 30px;
    width: 30px;
  }

  .song-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

    &:hover {
      background-color: rgba($clr10, 0.2);
    }

    .img-and-title {
      width: 370px;
      display: flex;
      justify-content: start;
      align-items: start;
      text-align: start;
    }
    .list-end {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .list-end {
      gap: 30px;
    }

    .song-info {
      display: flex;
      align-items: center;
    }

    span {
      width: 40px;
      text-align: center;
      font-size: 14px;
      color: rgba($clr3, 0.6);
    }

    .song-img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 1rem;
    }

    .song-title {
      font-size: 0.9rem;
      font-weight: 600;
      color: $clr6;
      font-family: Roboto-Regular;

      &:hover {
        text-decoration: underline;

        &:active {
          color: $clrGreen;
        }
      }
    }

    .posted-at {
      font-size: 0.8rem;
      color: rgba($clr3, 0.6);
      margin-inline-start: 25%;
      width: max-content;
      white-space: nowrap;
    }
    @media screen and (min-width: 1600px) {
      .posted-at {
        margin-inline-start: 27%;
      }
    }
    @media screen and (min-width: 1800px) {
      .posted-at {
        margin-inline-start: 29%;
      }
    }

    .song-duration {
      font-size: 0.8rem;
      color: rgba($clr3, 0.6);
      width: 40px;
      transform: translateX(100%);
      cursor: default;
    }

    .like-song-icon {
      margin-block-start: -5px;
    }

    .btn-open-modal {
      background-color: transparent;
      margin-top: -5px;
      .options-song-icon {
        fill: $clr11;
        cursor: pointer;
      }
    }
  }
}

.btn-play-green {
  background-color: $clrGreen;
  width: 55px;
  height: 55px;
  left: 2rem;
  top: 1rem;
  margin-block-end: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 18px;
    border-color: transparent $clr2;
    display: inline-block;
    position: relative;
    left: 3px;
  }
  &:hover {
    background-color: $clrGreenLight;
    box-shadow: 0px 4px 12px rgba($clr2, 0.2);
    transform: scale(1.06);
  }
}

.station-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: $clr11;
  margin-block-end: 1rem;

  .btn-icons {
    display: flex;
    padding: 10px;
  }
  .options-icon {
    fill: $clr11;
    width: 20px;
    height: 30px;
    cursor: pointer;
    margin-inline-start: 1.2rem;

    &:hover {
      fill: $clr6;
    }
  }
}

.table-header {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding-bottom: 1.6rem;
  margin-inline: 3.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: $clr11;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($clr11, 0.05);
    margin-block-end: 1rem;
  }
  .title-container,
  span,
  div {
    display: flex;
    align-items: center;
  }

  .title-container {
    flex: 3;
    gap: 1rem;
  }

  span:nth-child(2) {
    flex: 2;
  }

  div:nth-child(3) {
    flex: 2;
  }

  .duration-icon {
    fill: $clr11;
    margin-inline-end: 1.3rem;
  }
}

//SONG OPTIONS MODAL
.modal-container {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: fixed;
  background-color: $clr8;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  top: 45%;
  left: 85%;
  box-shadow: 0 4px 6px rgba($clr2, 0.1), 0 1px 3px rgba($clr2, 0.08);
  z-index: 10;

  .modal-options {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px 15px;
      font-size: 14px;
      color: $clr3;
      cursor: pointer;
      &:hover {
        background-color: $clr12;
        color: $clr6;
      }
    }
    .stations-sub-menu {
      background-color: $clr8;
      border-radius: 8px;
      list-style: none;
      border-radius: 4px;
      position: absolute;
      z-index: 30;
      top: 0;
      right: 100%;
      width: 200px;
      height: max-content;
      padding: 10px;
      box-shadow: 0 4px 6px rgba($clr2, 0.1), 0 1px 3px rgba($clr2, 0.08);

      li {
        padding: 10px 15px;
        font-size: 14px;
        color: $clr3;
        cursor: pointer;

        &:hover {
          background-color: $clr12;
          color: $clr6;
        }
      }
    }
  }
}
