.user-library-container {
  display: flex;
  gap: 15px;
  border-radius: 10px;
}

.user-library-header {
  font-family: 'circular-book';
  margin-left: 17px;
  margin-block-end: 0.65em;
  margin-block-start: 1em;
  color: $clr6;
}

.user-preview-section {
  padding: 1rem;
  margin-block-end: 150px;
}

.user-library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  border-radius: 10px;
}
