// .alert {
//     background-color: lightgray;
//     position: fixed;
//     top: 0;
//     right: 0.5em;
//     padding: 1em;
//     &.alert-success {
//         background-color: lightgreen;
//     }
//     &.alert-error {
//         background-color: lightcoral;
//     }
// }

.alert {
  background-color: rgb(37, 137, 196);
  width: 300px;
  padding: 1em;
  height: 50px;
  position: fixed;
  bottom: 120px;
  left: 50%;
  border-radius: 15px;
  line-height: 10px;
  text-align: center;
  //   right: 0;
  //   &.alert-success {
  //     background-color: lightgreen;
  //   }
  //   &.alert-error {
  //     background-color: lightcoral;
  //   }
}
