.alert {
  background-color: #0d72ea;
  width: 300px;
  padding: 1em;
  height: 45px;
  position: fixed;
  bottom: 100px;
  left: 40%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  text-align: center;
z-index: 1000;
}
