* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr1;
  color: $clr6;
}

html {
  font-family: montserrat;
  line-height: 1.6;
}

body {
  font-size: rem(18px);
  margin: 0;
  background-image: linear-gradient(to bottom, $clr4 10%, $clr2 150%);
  color: $clr6;
  font-family: Circular-medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
}

// section, main, footer {
//     // padding: 5px;
// }

img {
  cursor: pointer;
}


p {
  margin: 0 0 1em;
  // max-width: 40ch;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn {
  cursor: pointer;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(68, 67, 67, 0.6);
}

body::-webkit-scrollbar-track {
  background-color: rgba($clr2, 0.6);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(46, 46, 46, 0.6);
}
