//NEED TO FIND CIRCULAR 
@font-face {
    font-family: gotham;
    src: url('../../fonts/GothamMedium_1.ttf');
}

@font-face {
    font-family: gotham-light;
    src: url('../../fonts/GothamLight.ttf');
}