//NEED TO FIND CIRCULAR
// @font-face {
//   font-family: gotham;
//   src: url('../../../../src/assets/fonts/GothamMedium_1.ttf');
// }

@font-face {
  font-family: gotham-light;
  src: url('../../fonts/GothamMedium_1.ttf');
}
@font-face {
  font-family: Roboto-Regular;
  src: url('./../../../../src/assets/fonts/Roboto-Regular.ttf');
}

// @font-face {
//   font-family: circular-book;
//   src: url('@/assets/fonts/CircularSpotifyText-Book.otf');
// }

@font-face {
  font-family: Circular-light;
  src: url('./../../../../src/assets/fonts/CircularStd-Light.otf');
}

@font-face {
  font-family: Circular-medium;
  src: url('./../../../../src/assets/fonts/CircularSpotifyText-Medium.otf');
}
