//NEED TO FIND CIRCULAR 
@font-face {
    font-family: gotham;
    src: url('../../../../src/assets/fonts/GothamMedium_1.ttf');
}

@font-face {
    font-family: gotham-light;
    src: url('../../../../src/assets/fonts/GothamLight.ttf');
}
@font-face {
    font-family: Roboto-Regular;
    src: url('./../../../../src/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Circular-book;
    src: url('./../../../../src/assets/fonts/CircularSpotifyText-Book.otf');
}

@font-face {
    font-family: Circular-light;
    src: url('./../../../../src/assets/fonts/CircularStd-Light.otf')
}