// Main Color
$clrGreen: #1ed760;
$clrGreenLight: #1fdf64; //HOVER

//B&W
$clr1: #181818; //main BG
$clr2: #000; //nav & initial header
$clr3: #b3b3b3; //NAV/HEADER font clr
$clr4: #212121; //borders/outlines
$clr5: #3e3d3d; //box shadow and station hover
$clr6: #fff; 
$clr7:  #121212; //station preview
$clr8: #282828; // footer border top
$clr9: #2d2d2d;
$clr10: #535353;
$clr11: #a7a7a7;
$clr12: #404040;


//FACEBOOK
$clrFb: #405A93; 
$clrFbHover: #384F81;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;