@font-face {
  font-family: circular-book;
  src: url('/src/assets/fonts/CircularSpotifyText-Book.otf');
}

@font-face {
  font-family: gotham-light;
  src: url('/src/assets/fonts/GothamMedium_1.ttf');
}
@font-face {
  font-family: Roboto-Regular;
  src: url('/src/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Circular-light;
  src: url('/src/assets/fonts/CircularStd-Light.otf');
}

@font-face {
  font-family: Circular-medium;
  src: url('/src/assets/fonts/CircularSpotifyText-Medium.otf');
}

// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/typography';

// Basics
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/base';
@import 'basics/links';
@import 'basics/forms';

// Components
@import 'cmps/MediaPlayer';
@import 'cmps/MiniSearch';
@import 'cmps/Search';
@import 'cmps/AppFooter';
@import 'cmps/AppHeader';
@import 'cmps/UserMsg';
@import 'cmps/ReviewList';
@import 'cmps/AppNav';
@import 'cmps/StationIndex';
@import 'cmps/Signup';
@import 'cmps/login';
@import 'cmps/StationList';
@import 'cmps/StationPreview';
@import 'cmps/UserLibrary.scss';
@import 'cmps/StationDetails';
@import 'cmps/loader';
@import 'cmps/StationEdit';
@import 'cmps/BubblingHeart';
@import 'cmps/MobileNav';
@import 'cmps/DeleteModal';
@import 'cmps/AudioAnimation';
@import 'cmps/UserDetails';
@import 'cmps/Chat';
@import 'cmps/Record';
@import 'cmps/GptStation';
@import 'cmps/GptLoader.scss';
